/* static variable */
:root {
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333333;
    --backgroud-color: #f1ecf5;
    --primary-color: #85c94d;
    --hover-color: #e6f8d7;
    --system-color: #eeeeee;
    --bold-primary: #63b71e;
}

* {
    box-sizing: inherit;
}

html {
    /* thông thường trình duyệt có font-size 100% tương ứng 16px va 1rem */
    /* để dễ dàng phân chia -> fz = 62.5% -> 1rem = 10px -> 1.5rem = 15px */
    font-size: 62.5%;
    line-height: 1.6rem; /* 1.6rem = 16px */
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    /* Nếu thiết bị lớn hơn 1200px thì max là 1200 */
    /* width: 1200px; */
    /* Nếu thiết bị nhỏ hơn 1200px thì bằng 100% cửa sổ  */
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}

.grid__column-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* ANIMATE */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes slideToTop {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* BUTTON */
.btn {
    min-width: 140px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-small {
    min-width: 140px;
    height: 30px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn.primary-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.disable-btn {
    background-color: #b2b2b2;
    color: #dbd9d9;
}

.btn:hover {
    opacity: 0.8;
}

.btn.btn-nohover {
    opacity: 1;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: none;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    /* display: none; */
}

.modal__body {
    width: 500px;
    /* display: none; */
    position: relative;
    background-color: var(--white-color);
    margin: 20vh auto 0;
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;

    /* animate */
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.1s;
}

/* PAGINATION */
.pagination {
    width: 100%;
}

.pagination__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__item-link {
    color: #888;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 16px;
    border-radius: 2px;
}


.pagination__item:hover .pagination__item-link {
    color: var(--bold-primary);
}

.pagination__item:hover .pagination__item-etc {
    color: #888;
}

.pagination__item--active .pagination__item-link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination__item--active:hover {
    opacity: 0.8;
}

.pagination__item--active:hover .pagination__item-link {
    color: var(--white-color);
}

/* TABLE */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1.2rem;
  }

  td {
    color: var(--text-color);
  }

